<!DOCTYPE html>
<head>
	<title></title>
</head>

<body>

	<p>
		Please be sure to enter your information CORRECTLY:
	</p> 

	<p>
		<%= simple_form_for(Payment.new, html: {class: 'form-horizontal'}) do |f| %>

			<% if Payment.new.errors.any? %>
				<h3>Errors:</h3>
					<ul>
						<% @payment.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
			<% end %>

			<%= f.input	:first_name %>
			<%= f.input	:last_name %>
			<%= f.input	:account_number %>
			<%= f.input	:address %>
			<%= f.input	:city %>
			<%= f.input	:state %>
			<%= f.input :zip %>
			<%= f.input :phone %>
		</p>		
					
			<%= f.submit "Submit Payment" %>
		<% end %>
	<p class="footer">
		<%= button_to "Cancel", payments_path, method: "get" %>
	</p>
</body>

